:root{
    --base-clr: #2f4156;
    --pale-base-clr: #445d7a;
    --dark-base-clr: #263447;
    --accent-clr: #567c8d;
    --text-clr: #ffffff;
    --back-clr: #e7e7e7;
    --sky-blue: #c8d9e6;
    --beige: #f5efeb;
    --pale: #f7f7f7;
    --pale-blue: #dce8f1;
}


*{
    font-family: "Commissioner", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
/* For index.html */

.centre{
    display: flex;
    background-color: var(--pale-blue);
    font-size: 14px;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.main-index{
    background-color: var(--pale);
    border-radius: 10px;
    padding: min(5%, 3rem) min(5%, 1rem);
    /* width: 450px;
    height: 550px; */
    box-shadow: 0 0 20px var(--accent-clr);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(40rem, 90%);
    height: 45rem;
    /* media query for height */

}
.main-index img{
    width: min(250px, 80%);
    height: auto;
}

.main-index h2{
    color: var(--accent-clr);
    font-weight: 600;
    font-size: 2.5rem;
    margin: 7px 0px 2px;
}
.main-index p{
    margin: 0;
    color: var(--accent-clr);
    font-size: 1.2rem;
    font-weight: 300;
}
.main-index form{
    /* display: flex;
    flex-direction: column;
    align-items: center;*/
    text-align: center;
    width: 100%;
}

.main-index form input{
    width: min(35rem, 90%);
    height: 4.75rem;
    padding: 0 7%;
    border: none; 
    border-radius: 30px;
    background-color: var(--pale-blue);
    outline: none;  
    font-size: 1.2rem;  
}
#idNumber{
    margin-top: 4rem;
}
#password, .main-index form button{
    margin-top: 1rem;
}
.main-index form input:focus{
    border: solid .2px var(--base-clr);
    color:var(--base-clr);
    background-color: var(--sky-blue);
}
.main-index form input::placeholder{
    color: var(--accent-clr);
    font-weight: 500;
}
.main-index form input:focus::placeholder{
    color: var(--base-clr);
    font-weight: 900;
}

.main-index form button{
    border: none;
    border-radius: 30px;
    background-color: var(--base-clr);
    color: var(--beige);
    width: min(35rem, 90%);
    height: 5rem;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 0 2rem;
    line-height: 3rem;
    margin-bottom: 3rem;
}

.main-index a{
    color: var(--accent-clr);
    text-decoration: none;
    font-size: 1.2rem;
}
.main-index hr{
    border: solid .65px var(--accent-clr);
    margin: 2rem 0 .5rem;
    width: 90%;;
}
.main-index footer{
    color: var(--accent-clr); 
    font-size: 10px;
    text-align: center;    
    margin: .1rem;
}
/* End of index.html */


/* For dashboard.html */
.dashboard{
    background-color: #c8d9e6;
    display: grid;
    grid-template-columns: auto 1fr;    
}
.dashboard nav{
    width: 100%;
    height: 6rem;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 2%;
    margin: 0;

    overflow: hidden;
}
.small-profile{
    padding: 0 15px;
    height: 40px;
    border-radius: 50%;
}
.right{
    margin-left: auto;
    display: flex;
    align-items: center;
}
.nile-logo{
    height: 50px;
    padding: 10px 15px;
}
.fa-bars{
    font-size: 15px;
    padding: 28px 15px;
    color: #a6b7bf;
}
.fa-bars:hover, .nile-logo:hover, .small-profile:hover{
    color: black;
}

.menu-bar{
    background-color: var(--base-clr);
    color: var(--text-clr);
    width: 250px;
    height: 100vh;
    box-sizing: border-box;
    padding: 0 1em;
    position: sticky;
    top: 0;
    align-self: self-start;
    display: flex;
    justify-content: center;
    transition: 300ms ease-in-out;
    text-wrap: nowrap;
}
.menu-bar.close{
    width: 75px;
    padding: 0 2.5px;
    text-wrap: no-wrap;
}
.menu-bar.close span{
    /* overflow: hidden; */
    display: none;
    /* transition: 500ms ease-in-out; */
}
.menu-bar.close a{
    width: 45px;
    margin: 7px auto;    
}
.menu-bar ul{
    margin-top: 0;
    list-style-type: none;
    padding: 0;
}
.menu-bar a{
    color: var(--text-clr);
    text-decoration: none;
    display: flex;
    gap: 1em;
    align-items: center;
    width: 200px;
    height: 45px;
    padding: 10px;
    margin: 7px;
    border-radius: 20px; 
    transition: 450ms ease-out;
    font-size: 1.5rem;
}
.menu-bar a.active{
    background-color: var(--dark-base-clr);
    color: var(--accent-clr);
}
.menu-bar a:hover:not(.active){
    background-color: var(--pale-base-clr);
}
.menu-bar i{
    font-size: 20px;
    padding: 2.5px;
    flex-shrink: 0;
    
}
.menu-bar hr{
    width: 100%;
    background-color: var(--text-clr);
    border: none;
    height: .5px;
}
.menu-bar li:last-child{
    position: absolute;
    bottom: 0;
}
.main-dashboard{
    padding: 1%;
    display: grid;
    /* grid-template-columns: auto auto; */
}
/* .profile {
    height: 800px;
    flex: 20%;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    padding: 30px 0;
}
.profile image{
    margin: 20px;
    height: 250px;
    width: 200px;
}
.profile h3{
    margin: 0;
    padding: 10px;
    font-size: 30px;
    color: #567c8d;
}
.profile h4{
    background-color: #2f4156;
    color: #f5efeb;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 10px 0;
}
.profile hr{
    width: 100%;
    background-color: #567c8d;
    border: none;
    height: 0.75px;

}
.profile h5{
    margin: 10px auto 0 20px;
    font-size: 12px;
    text-align: left;
    color: #567c8d;

}
.building-div{
    height: 400px;
    flex: 67%;
    background-color: rgb(80, 79, 79);
    border-radius: 2px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    gap: 2% 2%;
    margin: 40px 2% 0 0;
    padding: 0;
    justify-content: space-evenly;
}
.building-div img{
    background-color: aqua;
    height: 175px;
    width: 225px;
    border-radius: 5px;
    margin: 0;
}  */


/* End of dashboard.html */








/* media queries */
/* for large tablets */

/* for phones*/
@media screen and (max-width: 800px){


/* For DashBoard */
.dashboard{
    grid-template-columns: auto;
}
.main-dashboard{
    padding: 0 0 60px 0;
}
.menu-bar{
    width: 100%;
    height: 60px;
    position: fixed;
    top: unset;
    bottom: 0;

ul{
    padding: 0;
    display: grid;
    grid-auto-columns: 60px;
    grid-auto-flow: column;
    align-items: center;
    overflow-x: scroll;
}

ul li{
    height: 100%;
}

a{
    width: 45px;
}

span, ul li:first-child{
    display: none;
}  

li:last-child{
    position: static;
}

}

}
